name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

#permissions:
#  contents: write
#  deployments: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2
        with:
          deno-version: vx.x.x

      - name: Check
        run: deno task check

      #- uses: akiraohgaki/actions/git-commit-push@main

  build:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2
        with:
          deno-version: vx.x.x

      - name: Build
        run: deno task build

      #- uses: actions/upload-artifact@v6
      #  with:
      #    name: public
      #    path: public/
      #    retention-days: 30

  test:
    needs: build
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2
        with:
          deno-version: vx.x.x

      - name: Test
        run: deno task test

      #- uses: actions/upload-artifact@v6
      #  if: ${{ !cancelled() }}
      #  with:
      #    name: test-report
      #    path: |
      #      coverage/
      #      playwright-report/
      #    retention-days: 30

  #deploy:
  #  needs: test
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/download-artifact@v6
  #      with:
  #        name: public
  #        path: public
  #
  #    - uses: cloudflare/wrangler-action@v3
  #      with:
  #        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  #        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
  #        command: pages deploy public --project-name=${{ secrets.CLOUDFLARE_PAGES_PROJECT_NAME }}
  #        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
